<form class="edit-entity-form" #editEntityForm="ngForm" [formGroup]="editEntityFormGroup" (ngSubmit)="save()">
  <div class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title-box" fxLayout="row" fxLayoutAlign="start center">
      <i class="material-icons dialog-icon">edit</i>
      <div class="dialog-title">목표량 수정</div>
    </div>
    <i class="material-icons cancel-icon" (click)="cancel()">close</i>
  </div>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
  <div style="height: 0.4em" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content class="mat-padding" fxLayout="column">
    <div class="row" fxLayout="row" fxLayoutGap="0.8em" fxLayout.xs="column" fxLayoutGap.xs="0">
      <div class="input-box" fxFlex fxLayout="column">
        <div class="label-box" fxLayout="row">
          <span class="label">고객사</span>
        </div>
        <div class="input-wrapper readonly-input-wrapper">
          <input matInput formControlName="customerName" readonly />
        </div>
      </div>
    </div>
    <div class="row error-row" *ngIf="editEntityFormGroup.get('customerName').hasError('required')">
      고객사명을 입력하세요.
    </div>

    <div class="row" fxLayout="row" fxLayoutGap="0.8em" fxLayout.xs="column" fxLayoutGap.xs="0">
      <div class="input-box" fxFlex fxLayout="column">
        <div class="label-box" fxLayout="row">
          <span class="label">로봇명</span>
        </div>
        <div class="input-wrapper readonly-input-wrapper">
          <input maxlength="100" matInput formControlName="label" readonly required />
        </div>
      </div>
    </div>

    <div class="row" fxLayout="row" fxLayoutGap="0.8em" fxLayout.xs="column" fxLayoutGap.xs="0">
      <div class="input-box" fxFlex fxLayout="column">
        <div class="label-box" fxLayout="row">
          <span class="label">시리얼 No.</span>
        </div>
        <div class="input-wrapper readonly-input-wrapper">
          <input maxlength="100" matInput formControlName="name" readonly required />
        </div>
      </div>
    </div>

    <div class="row" fxLayout="row" fxLayoutGap="0.8em" fxLayout.xs="column" fxLayoutGap.xs="0">
      <div class="input-box" fxFlex fxLayout="column">
        <div class="label-box" fxLayout="row" fxLayoutAlign="space-between center">
          <span class="label">일 목표량</span>
          <span class="notice">{{productionStandardLength}}/100</span>
        </div>
        <div class="input-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
          <input
            maxlength="100"
            matInput
            formControlName="productionStandard"
            (ngModelChange)="productionStandardChange($event)"
            required
          />
          <i class="material-icons input-icon">edit</i>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      class="button close-button"
      [disabled]="(isLoading$ | async)"
      type="button"
      (click)="cancel()"
      cdkFocusInitial
    >
      취소
    </button>
    <button class="button save-button" type="submit" [disabled]="(isLoading$ | async) || editEntityForm.invalid">
      수정
    </button>
  </div>
</form>
