/*
    FHD 1920px 기준
    1vw = 1920px * 0.01 * 19.2px
    모바일 기준: 599px
    태블릿 / 데스크탑 기준 max-width: 80vw

    min-width = 600px * 0.8 = 480px
    font-size = 10px / 19.2px = 0.521vw
*/

.edit-entity-form {
  background-color: #ffffff;
  box-shadow: 0 0.1em 0.4em 0 rgba(21, 34, 50, 0.08);
  border-radius: 0.6em;
  font-size: 0.521vw;
  min-width: 480px !important;
  max-width: 80vw;
  width: 60em;
}

.edit-entity-form .dialog-header {
  padding: 2em;
}

.edit-entity-form .dialog-icon {
  color: #131523;
  font-size: 2.2em;
  margin-right: 0.1em;
}

.edit-entity-form .dialog-title {
  color: #131523;
  font-size: 1.6em;
  font-weight: 600;
  padding: 1.2em;
}

.edit-entity-form .cancel-icon {
  color: #131523;
  font-size: 2em;
  cursor: pointer;
}

.edit-entity-form .mat-dialog-content {
  padding: 0em 2em !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.edit-entity-form .mat-dialog-content::-webkit-scrollbar {
  display: none;
}

.edit-entity-form .row {
  margin: 1em 0em;
}

.edit-entity-form .label {
  color: #7e84a3;
  font-size: 1.2em;
}

.edit-entity-form .notice {
  color: #d7dbec;
  font-size: 1.2em;
}

.edit-entity-form .input-box input {
  color: #131523;
  font-size: 1.4em;
  caret-color: #131523 !important;
}
.edit-entity-form .input-box input:read-only {
  cursor: default;
}
.edit-entity-form .input-box .readonly-input-wrapper {
  background-color: #fafafc;
}
.edit-entity-form .input-wrapper {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #d7dbec;
  border-radius: 0.3em;
}
.edit-entity-form .input-wrapper *::placeholder {
  color: #7e84a3;
}

.edit-entity-form .input-icon {
  color: #7e84a3;
  font-size: 1.4em;
}

.edit-entity-form .error-row {
  color: #f0142f;
  font-size: 1.2em;
  margin: 0em;
  text-align: right;
}

.edit-entity-form .mat-select-value,
.edit-entity-form .mat-select-arrow {
  font-size: 1.4em !important;
  color: #131523 !important;
}

.edit-entity-form .mat-dialog-actions {
  padding: 2em !important;
}

.edit-entity-form .button {
  all: unset;
  margin-left: 0.5em;
  padding: 0.75em 1em;
  border-radius: 0.4em;
  font-size: 1.4em;
  cursor: pointer;
}
.edit-entity-form .save-button {
  background-color: #354052;
  color: #ffffff;
}
.edit-entity-form .close-button {
  background-color: #ffffff;
  color: #131523;
}
.edit-entity-form .save-button:hover {
  background-color: #283347;
  color: #ffffff;
}
.edit-entity-form .close-button:hover {
  background-color: #f5f6fa;
  color: #131523;
}
