/*
    FHD 1920px 기준
    1vw = 1920px * 0.01 * 19.2px
    모바일 기준: 599px
    태블릿 / 데스크탑 기준 max-width: 80vw

    min-width = 600px * 0.8 = 480px
    font-size = 10px / 19.2px = 0.521vw
*/

.delete-entity-form {
  background-color: #ffffff;
  box-shadow: 0 0.1em 0.4em 0 rgba(21, 34, 50, 0.08);
  font-size: 0.521vw;
  min-width: 480px !important;
  max-width: 80vw;
  width: 36em;
}

.delete-entity-form .dialog-header {
  padding: 2.2em 2.4em;
  border-bottom: 1px solid #dee0e5;
}

.delete-entity-form .dialog-title {
  color: #1f2229;
  font-size: 1.6em;
  font-weight: 600;
}

.delete-entity-form .cancel-icon {
  color: #1f2229;
  font-size: 2em;
  cursor: pointer;
}

.delete-entity-form .mat-dialog-content {
  padding: 2.4em !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.delete-entity-form .mat-dialog-content::-webkit-scrollbar {
  display: none;
}

.delete-entity-form .row {
  margin: 0em;
}

.delete-entity-form .row-text {
  font-size: 1.4em;
  color: #5a616f;
}

.delete-entity-form .mat-dialog-actions {
  padding: 2.4em !important;
  padding-top: 0.8em o !important;
}

.delete-entity-form .button {
  all: unset;
  margin-left: calc(0.8em / 1.4);
  padding: calc(0.8em / 1.4) calc(1.6em / 1.4);
  font-size: 1.4em;
  cursor: pointer;
}
.delete-entity-form .save-button {
  background-color: #1d6ef0;
  color: #ffffff;
}
.delete-entity-form .close-button {
  background-color: #ffffff;
  color: #5a616f;
  border: solid 1px #dee0e5;
}
.delete-entity-form .close-button:hover {
  background-color: #f5f6fa;
}
